html {
    height: 100%;
    background-color: rgb(208, 226, 177);
}
body {
    min-height: 100%;
}

.form {
    background-color: #f0ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 30%; */
    margin: 20px 200px 200px 200px;
    border-style: solid;
    padding: 100px 100px 100px 100px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

#submit {
    display: none;
    position:relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}