html {
    height: 100%;
    background-color: rgb(208, 226, 177);
}
body {
    min-height: 100%;
}

.form {
    min-width: 300px;
    /* width: 30%; */
    background-color: #f0ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 400px 400px 400px;
    border-style: solid;
    padding: 100px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

#submit {
    display: none;
    position:relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

ul {
    display: flex;
    max-width: 250px;
    position: relative;
    padding: 100px 100px 100px 100px;
    /* margin: 20px 400px 400px 400px; */
    justify-content: center;
    align-items: center;
    background-color: red;
}

h1, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}